<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "/fourthtwo" method = "POST">
    <label> ----------SINGER SALARY UPDATE----------</label><br>
    <label for = "s_id" >singer_id:</label><br>
    <input id = "s_id" type = "text" name = "s_id" value=""><br>

    <label for= "sal" >salary update:</label><br>
    <input id = "sal" type = "text" name = "sal" value=""><br><br>

    <label for = "update" >update:</label>
    <input id = "update" type = "submit" value = "click">

</form>

</body>
</html>