<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border = "1">
  <thead>
    <th>가수ID</th>
    <th>그룹ID</th>
    <th>가수이름</th>
    <th>나이</th>
    <th>급여</th>


  </thead>

  <tbody>
   {% for user in users %}
      <tr>
       <td> {{ user[0] }} </td>
       <td> {{ user[1] }} </td>
       <td> {{ user[2] }} </td>
       <td> {{ user[3] }} </td>
       <td> {{ user[4] }} </td>
      </tr>
   {% endfor %}
  </tbody>
</table>



</body>
</html>