<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "/first" method = "POST">
    <label>Welcome to DB Entertainment</label><br><br>
    <label>........K-Pop Groups........</label><br>
    <label for = "groups" >click to see K-Pop groups and members:</label>
    <label for = "g_idd" >group_id:</label><br>
    <input id = "g_idd" type = "text" name = "g_idd" value=""><br>
    <input id = "groups" type = "submit" value = "click">
    <br>
    <br>
</form>

<form action = "/second" method = "POST">
    <label>........Song insert and delete........</label><br>
    <label for = "song" >click to insert and delete:</label>
    <input id = "song" type = "submit" value = "click">
    <br>
    <br>
</form>

<form action = "/third" method = "POST">
    <label>........특정 그룹의 매니저들 전체 월급보다 월급이 높은 다른 그룹의 매니저들 월급의 평균........</label><br>
    <label for = "msalary" >click to check manager avg salary:</label>
    <label for = "g_iddd" >group_id:</label><br>
    <input id = "g_iddd" type = "text" name = "g_iddd" value=""><br>
    <input id = "msalary" type = "submit" value = "click">
    <br>
    <br>
</form>

<form action = "/fourth" method = "POST">
    <label>........Singer salary update........</label><br>
    <label for = "ssalary" >click to update singer salary:</label>
    <input id = "ssalary" type = "submit" value = "click">
    <br>
    <br>
</form>

<form action = "/fifth" method = "GET">
    <label>........Song and Producer........</label><br>
    <label for = "snp" >click to see song and producer:</label>
    <input id = "snp" type = "submit" value = "click">
    <br>
</form>

</body>
</html>