<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "/secondtwo" method = "POST">
    <label> ----------SONG INSERT----------</label><br>
    <label for = "song_id" >song_id:</label><br>
    <input id = "song_id" type = "text" name = "song_id" value=""><br>

    <label for= "song_name" >song_name:</label><br>
    <input id = "song_name" type = "text" name = "song_name" value=""><br><br>

    <label for= "song_year" >song_year:</label><br>
    <input id = "song_year" type = "number" name = "song_year" value=""><br><br>

    <label for= "g_id" >group id:</label><br>
    <input id = "g_id" type = "text" name = "g_id" value=""><br><br>

    <label for= "p_id" >producer id:</label><br>
    <input id = "p_id" type = "text" name = "p_id" value=""><br><br>

    <label for = "insert" >insert:</label>
    <input id = "insert" type = "submit" value = "click">

</form>

<form action = "/secondthree" method = "POST">
    <label> ----------SONG DELETE----------</label><br>
    <label for = "song_id2" >song_id:</label><br>
    <input id = "song_id2" type = "text" name = "song_id2" value=""><br>

    <label for = "delete" >delete:</label>
    <input id = "delete" type = "submit" value = "click">
    </form>
</body>
</html>